<%- include('../includes/head')  %> 
</head>

<body>
    <%- include('../includes/navigation')  %> 

    <main>
        <% if(orders.length <=0){ %> 
        <h1>Nothing there!</h1>
        <% }else{ %>
            <ul>
                <%  orders.forEach(order=>{ %>
                    <li>
                        <h1>#<%= order._id  %> </h1>
                        <ul>
                            <% order.cart.forEach(p => { %> 
                                <li> <%= p.product.title  %>(<%= p.quantity  %> ) </li>
                                <% }) %> 
                            </ul>
                    </li>
                    <% }) %>  
            </ul>
            <% } %>  
    </main>
<%- include('../includes/end') %> 